// sections.scss

// #BEE4E8
// #D2D6F1
// #A4BCC0

// main
//topSection
.topSection {
    margin: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .instructions{
        width: 90%;
        margin: 2rem 0;
        display: grid;
        grid-template-columns: 1fr 300px;
        gap: 1rem;
        grid-template-areas:
            'header header'
            'text search'
        ;
        h3 {
            grid-area: header;
        }
        ol {
            grid-area: text;
        }
        .search {
            grid-area: search;
            text-align: center;
        }
    }
    input {
        margin: 2rem 0;
        }
    input[type=text] {
        width: 100%;
        margin-right: 1rem;
    }
    input[type=submit] {
        width: 2.5rem;
    }
    img {
        width: 200px;
        margin: 1rem auto;
        border: 5px solid #BEE4E8;
        border-radius: 15px;
    }
    form {
        display: flex;
        justify-content: center;
        input {
            width: 100%;
        }
    }
    .start {
        position: relative;
    }
    .countdown {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 230px;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            font-size: 10rem;
            text-shadow: 0px 0px 20px #BEE4E8;
            line-height: 0;
        }
    }
}

// startGame
.startGame {
    margin: 3rem 0;
}

// game
.song, .results {
    margin: 20px;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.song {
    height: 50vh;
    position: relative;
}

.timer {
    position: absolute;
    right: 20%;
    border: 5px solid #BEE4E8;
    border-radius: 80px;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

// results
.results {
    padding: 2rem ;
    display: none;
    justify-content: space-evenly;
    li {
        min-height: 2rem;
        padding: 0.5rem 0;
    }
    h2:nth-of-type(2) {
        margin: 1rem 0;
    }
}

.compare, .playAgain {
    width: 90%;
    padding: 1rem;
    display: flex;
    justify-content: space-around;

}

.songTitles, .userAnswers {
    width: 40%;
}

