// sections.scss

// #BEE4E8
// #D2D6F1

html {
    background-color: #FFF8DB;
}

body {
    border: 1px solid red;
    width: min(95vw, 1000px);
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// main
//topSection
.topSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    .instructions{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 200px;
        gap: 1rem;
        grid-template-areas:
            'header x'
            'text search'
        ;
        h3 {
            grid-area: header;
        }
        ol {
            grid-area: text;
        }
        .search {
            grid-area: search;
            margin: 1rem 0;
        }
        input {
            margin: 1rem 0;
        }
        img {
            width: 100%;
        }
        *{border: 1px solid red;}
    }
    .instructionsText {
        width: 100%;
    }
    .instructionsSearch {
        width: 300px;
    }
    h3 {
        text-align: center;
    }
    ol {
        padding: 0;
        list-style-position: inside;
        p {
            display: inline-block;
        }
    }
    form {
        display: flex;
        justify-content: center;
    }
}



// game
.song {
    border: 1px solid black;
    height: 50vh;
    margin: 20px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

