// sections.scss

// #BEE4E8
// #D2D6F1

html {
    background-color: #FFF8DB;
}

body {
    border: 1px solid red;
    width: min(95vw, 1000px);
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// main
//topSection
.topSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    .instructions{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 200px;
        gap: 1rem;
        grid-template-areas:
            'header header'
            'text search'
        ;
        h3 {
            grid-area: header;
        }
        ol {
            grid-area: text;
        }
        .search {
            grid-area: search;
            margin: 1rem 0;
        }
        input {
            margin: 1rem 0;
        }
        img {
            width: 200px;
        }
        *{border: 1px solid red;}
    }
    .instructionsText {
        width: 100%;
    }
    .instructionsSearch {
        width: 300px;
    }
    h3 {
        text-align: center;
    }
    ol {
        padding: 0;
        list-style-position: inside;
        p {
            display: inline-block;
        }
    }
    form {
        display: flex;
        justify-content: center;
    }
}

// startGame
.startGame h2 {
    text-align: center;
}

// game
.song, .results {
    margin: 20px;
    background-color: #FFF;
    // border: 1px solid red;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.song {
    height: 50vh;
    input {
        border: 5px solid #BEE4E8;
        border-radius: 15px;
        padding: 0 1rem;
    }
}


.results {
    min-height: 80vh;
    display: none;
    justify-content: space-evenly;
}

.compare, .playAgain {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.songTitles, .userAnswers {
    width: 40%;
    border: 1px solid red;
}

