// typography.scss

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

html {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 3.5rem;
    line-height: 3rem;
    text-align: center;
    margin: 0;
}

h2 {
    font-size: 3rem;
}

.startGame h2 {
    text-align: center;
}

h3 {
    font-size: 2rem;
    text-align: center;
    padding: 2rem 0;
}

.instructions p {
    // padding-bottom: 2rem;
}

.timer p {
    font-size: 2rem;
}






footer {
    font-size: 0.7rem;
    text-align: end;
}